h4 {
    color: aqua;
}

li {
    color: aquamarine;
    display: block;
}

.card {
    width: 20%;
    height: fit-content;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px;
    margin: 2%;
}

.image img {

    width: 100%;
    height: 275px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title {

    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 20px;
}

.des {
    padding: 3px;
    text-align: center;
    padding-top: 2px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

button:hover {
    background-color: rgb(167, 223, 241);
    color: white;
    transition: .3s;
    cursor: pointer;
}

a {

    color: rgb(4, 4, 79);
    text-align: center;
    text-decoration: solid;
    display: inline-block;
}